* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eed9d9;
}

header {
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    padding: 20px;
}
nav {
    background-color: #3c81d1;
    padding: 12px 0px 9px 12px;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    
}

nav a {
    text-decoration: none;
    color: #ffffff;
    background-color: #0076ff;
    text-decoration: none;

}
